/* * Global resets
 */
 * {
    padding: 0;
    margin: 0;
    font-family: 'open sans', sans-serif;
 }

 .header {
    background-color: #383e4c;
    min-height: 70px;
    position: sticky;
    top: 0px;
 }

 .container {
     width: 1170px;
     padding: 0 15px;
     margin: auto;
     box-sizing: border-box;
     text-align: center;
 }

 .container-flex {
    width: 1170px;
    padding: 0 15px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
 }

 .navigation {
    display: inline-block;
    margin: auto;
 }

 .navigation__link {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 1.2em;
    padding: 5px 15px;
    
 }

 .navigation__element {
    list-style-type: none;
    display: inline-block;
    margin: 15px 8px;
    border: 1px #646d7c solid;
 }

 .showcase {
     background: url(../img/hotairBaloon.jpg) no-repeat;
     background-attachment: fixed;
     background-size: 100%;
     color: white;
     min-height: 100vh;
     text-align: center;
     display: flex;
     align-items: center;
 }

 .showcase-half {
    background: url(../img/nightScene.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
 }

 .showcase__heading {
     font-size: 4em;
 }

 .showcase__subheading {
     color: white;
 }

.three-columns {
    margin-top: 40px;
}

.box {
    background-color: #f2f2f2;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 20px;
    display: block;
}

.col-3 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.col-4 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.col-6 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.col-12 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 15px;
}

.graphic {
    max-width: 100%;
}

/*
 *
 * Title CSS
 *
 */

.title {
    margin-bottom: 5px;
    padding: 15px;
}

.title--green {
    color: green;
}

.title--blue {
    color: blue;
}

.title--red {
    color: red;
}

.detail {
    margin-bottom: 20px;
    text-align: left;
    padding: 15px;
}

/*
 *
 * Button CSS
 *
 */
.button {
    color: white;
    font-size: 1.2em;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

.button--green {
    background-color: green;
}

.button--blue {
    background-color: blue;
}

.button--red {
    background-color: red;
}

.button--transparent {
    border: 1px solid black;
    color: black;
    background-color: white;
}

.button--submit {
    border: 1px solid white;
    background-color: black;
}

.footer {
    background: url(../img/hotairBaloon.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    min-height: 30vh;
    padding: 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
}

/*
 *
 * Form
 *
 */
.form-group {
    width: 800px;
    margin: auto;
}

.group-flex {
    display: flex;
    width: inherit;
    margin: 10px auto;
}

.group--50 {
    width: 50%;
    box-sizing: border-box;
    margin: 5px 5px;
}

.input {
    width: 100%;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 2px;
    box-sizing: border-box;
    opacity: 0.6;
}

.title-footer {
    color:#646d7c;
    margin:20px;

}

.link{
    text-decoration: none;
    text-emphasis: italic;
    color: lightskyblue;
}

.copyright {
    text-align: center;
    color: #646d7c;
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* .container{ width: 80%;} */
    /* .container-flex {width: 80%;}; */
}